################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code-New
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide-shm
API/BKIC.SellingPoint.DL/bin/Debug/BKIC.SellingPoint.DL.dll
API/BKIC.SellingPoint.DL/bin/Debug/BKIC.SellingPoint.DL.dll.config
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide-shm
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide-shm
API/BKIC.SellingPoint.DL/bin/Debug/BKIC.SellingPoint.DL.dll.config
API/BKIC.SellingPoint.DL/bin/Debug/BKIC.SellingPoint.DTO.dll
API/BKIC.SellingPoint.DL/bin/Debug/BKIC.SellingPoint.DTO.pdb
API/BKIC.SellingPoint.DL/bin/Debug/Microsoft.mshtml.dll
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide-shm
API/.vs
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
*/.vs
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
API/.vs/BKIC.SellingPoint.WebAPI/v15/Server/sqlite3/storage.ide
*.ide
API/.vs/BKIC.SellingPoint.WebAPI/v15/.suo
*.ide-shm
*.ide-wal
BKIC-SellingPoint/
SellingPoint/
SP/
API/BKIC.SellingPoint.WebAPI/Web.config
API/BKIC.SellingPoint.WebAPI/Web.config
