USE [SellingPoint]
GO
/****** Object:  StoredProcedure [dbo].[MIG_IntegrateHomeDetails]    Script Date: 3/28/2019 5:55:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MIG_IntegrateHomeDetails]
(
	@HomeID int
)
AS
BEGIN
BEGIN TRY
DECLARE @DocumentNo NVARCHAR(50),
        @InsuredCode NVARCHAR(50),
		@HOMEUPDATEDROWS INT,
		@LinkID NVARCHAR(50), 
		@Agency NVARCHAR(50),
		@UserID INT

select @DocumentNo=DOCUMENTNO,
       @InsuredCode=INSUREDCODE, 
	   @LinkID=LINKID ,
	   @Agency = AGENCY,
	   @UserID = CREATEDBY
	   FROM SellingPoint.dbo.Home WHERE HOMEID=@HomeID

set @HOMEUPDATEDROWS = 0

IF NOT EXISTS(SELECT * FROM OrclBKICDB..ADMIN.FROMPOS_DOCUMENT_FIRE_DET WHERE DocumentNo=@DocumentNo AND LinkID = @LinkID)

DECLARE @CustomerCode NVARCHAR(10)
SELECT @CustomerCode =  CustomerCode FROM SellingPoint.dbo.AGENTMASTER WHERE Agency = @Agency

DECLARE @AuthorizedBy NVARCHAR(100)
SELECT @AuthorizedBy =  UserName FROM SellingPoint.dbo.USER_MASTER WHERE id = @UserID



	INSERT INTO OrclBKICDB..ADMIN.FROMPOS_DOCUMENT_FIRE_DET(LINKID,DOCUMENTNO,SUMINSURED,FINANCECOMPANYID,
	[TYPE],ADDRESS1,ADDRESS2,CITYCODE,STREETNO,BLOCKNUMBER,BUILDINGNAME,STREETNAME,DOMESTICHELP,AGEOFBUILDING,CREATEBY,
	CREATEDT,MAINCLASS,SUBCLASS,COMMENCEDATE,EXPIRYDATE,BUILDINGNO,FLATNO,RSMDCOVER,INSUREDCODE,INSUREDNAME,RENEWAL,
	PREVIOUSDOCUMENTNO,RENEWED,CLAIMAMOUNT,JEWELLERYCOVER,FFPNUMBER,TRANSACTION_NO,PAYMENT_TYPE,PAYMENT_AUTHORIZATION_CODE,
	MOBILENUMBER,SOURCE,DISCOUNTPERCENT,DISCOUNTAMOUNT,COMMISSIONAMOUNT,COMMISSIONBEFOREDISCOUNT,
	AGENCYCODE,CUSTOMERCODE,AGENTCODE,AGENCYBRANCH,INTRODUCEDBY,TAXPERCENT, TAXAMOUNT, RENEWALCOUNT, GROSSPREMIUM, CHARGEAMOUNT,NETPREMIUM)
	SELECT TOP(1) LINKID,DOCUMENTNO,SUMINSURED, 
	(SELECT Code FROM MotorFinancier WHERE financier = FINANCECOMPANYID) AS FINANCECOMPANYID,TYPE,
	ADDRESS1,ADDRESS2,CITYCODE,STREETNO,BLOCKNUMBER,BUILDINGNAME,STREETNAME,DOMESTICHELP,AGEOFBUILDING,@AuthorizedBy,
	HM.CREATEDDATE,MAINCLASS,SUBCLASS,COMMENCEDATE,EXPIRYDATE,BUILDINGNO,FLATNO,RSMDCOVER,INSUREDCODE,INSUREDNAME,
	RENEWAL,OLDDOCUMENTNUMBER,RENEWED,CLAIMAMOUNT,JEWELLERYCOVER,FFPNUMBER,TRANSACTION_NO,PAYMENT_TYPE,
	PAYMENT_AUTHORIZATION_CODE,MOBILENUMBER,SOURCE,DISCOUNTPERCENT,DISCOUNTAMOUNT,
	CommissionAfterDiscount,CommissionBeforeDiscount,
	HM.AGENCY,@CustomerCode,
	HM.AGENTCODE,
	BM.AGENTBRANCH,
	UM.USERNAME,HM.TAXPREMIUMPERCENT, HM.TAXONPREMIUM, HM.RenewalCount, HM.PremiumBeforeDiscount, 0, (HM.PremiumAfterDiscount + HM.TAXONPREMIUM)
	FROM SellingPoint.dbo.Home AS HM 
	LEFT JOIN  SellingPoint.dbo.USER_MASTER AS UM ON UM.Id = HM.CREATEDBY
	LEFT JOIN SellingPoint.dbo.BRANCHMASTER AS BM ON BM.AGENTBRANCH = HM.BRANCHCODE  
	WHERE HOMEID=@HomeID

	

	INSERT INTO OrclBKICDB..ADMIN.FROMPOS_DOCUMENT_ITEMS(LINKID,DOCUMENTNO,ITEMSERIALNO,ITEMCODE,ITEMNAME,FORMULATYPE,FORMULAID,
	SUMINSURED,PREMIUMAMOUNT,PREMIUMRATE,LIMITVALUE,LIMITRATE,DISPLAYITEMSERIALNO)
	SELECT LINKID,DOCUMENTNO,ITEMSERIALNO,
	ITEMCODE,ITEMNAME,FORMULATYPE,FORMULAID,SUMINSURED,PREMIUMAMOUNT,PREMIUMRATE,LIMITVALUE,LIMITRATE,
	ITEMSERIALNO 
	FROM SellingPoint.dbo.HomeItems 
	WHERE DOCUMENTNO = @DocumentNo AND LINKID = @LinkID


	INSERT INTO OrclBKICDB..ADMIN.FROMPOS_DOCUMENT_SUBITEMS(LINKID,DOCUMENTNO,ITEMSERIALNO,ITEMCODE,ITEMNAME,SUBITEMSERIALNO,
	SUBITEMCODE,SUBITEMNAME,[DESCRIPTION],SUMINSURED,REMARKS) 
	SELECT LINKID,DOCUMENTNO,ITEMSERIALNO,ITEMCODE,
	ITEMNAME,SUBITEMSERIALNO,SUBITEMCODE,SUBITEMNAME,[DESCRIPTION],SUMINSURED,REMARKS 
	FROM SellingPoint.dbo.HomeSubItems
	WHERE DOCUMENTNO = @DocumentNo AND LINKID = @LinkID

   	INSERT INTO OrclBKICDB..ADMIN.FROMPOS_HOMEDOMESTIC_COVER(LINKID,DOCUMENTNO,[LineNO],SERIALNO,ITEMSERIALNO,ITEMCODE,ITEMNAME,MEMBERSERIALNO,
	NAME,CPRNUMBER,TITLE,SEX,AGE,DATEOFBIRTH,SUMINSURED,PREMIUMAMOUNT)
	SELECT LINKID,DOCUMENTNO,[LINENO], SERIALNO, ITEMSERIALNO,ITEMCODE,ITEMNAME,MEMBERSERIALNO,
	NAME,CPRNUMBER,TITLE,SEX,AGE,DATEOFBIRTH,SUMINSURED,PREMIUMAMOUNT 
	FROM SellingPoint.dbo.HomeDomesticHelp
	WHERE DOCUMENTNO = @DocumentNo AND LINKID = @LinkID

DECLARE @ValueType NVARCHAR(50) ='P'
	
INSERT INTO OrclBKICDB..ADMIN.FROMPOS_CATEGORY(LINKID, DOCUMENTNO, DOCUMENTTYPE,ENDORSEMENTNO, ENDORSEMENTCOUNT, AGENTCODE, [LINENO],
                                                CATEGORY, CODE, VALUETYPE, VALUE, PREMIUM, CALCULATEDVALUE, PARENTLINKID, AGENCY, UPDATEDVALUE)

         SELECT LINKID, DOCUMENTNO,DOCUMENTTYPE, ENDORSEMENTNO, 0, AGENTCODE, [LINENO],
		 Category,CODE, @ValueType, VALUE, PremiumAfterDiscount, CommissionBeforeDiscount, PARENTLINKID,@Agency, CommissionAfterDiscount
		 FROM  SellingPoint.dbo.PolicyCategory
		 WHERE DOCUMENTNO = @DocumentNO AND LINKID = @LinkID



INSERT INTO OrclBKICDB..ADMIN.FROMPOS_QUESTIONNAIRE(LINKID,DOCUMENTNO,TYPE,CODE,DESCRIPTION,ANSWER)
            SELECT LINKID,DOCUMENTNO,TYPE,CODE,DESCRIPTION,ANSWER FROM SellingPoint.dbo.SP_Questionnaire
			WHERE DOCUMENTNO = @DocumentNo	AND LINKID = @LinkID

 UPDATE SellingPoint.dbo.Home
  SET IsMovedToTemp = 1 where Home.HOMEID = @HomeID

DECLARE @FundType nvarchar(5) = ''

	IF(@Agency = 'TISCO')
		BEGIN
			SELECT @FundType = 'AGT'
		END
	ELSE IF(@Agency = 'BBK')
		BEGIN
			SELECT @FundType = 'BBK'
		END
	
        EXECUTE('Call Import_from_POS.Insert_Home_Policy(?,?,?,?,?,?)','00001','00001',@FundType,@InsuredCode,@DocumentNo,@LinkID)
		AT ORCLBKICDB


 UPDATE SellingPoint.dbo.Home
  SET IsMovedToOracle = 1 where Home.HOMEID = @HomeID

  END TRY
  BEGIN CATCH
  UPDATE SellingPoint.dbo.Home
  SET IsException = 1 where Home.HOMEID = @HomeID
  DECLARE @ErrorNumber INT = ERROR_NUMBER();
  DECLARE @ErrorMessage NVARCHAR(1000) = ERROR_MESSAGE() 
  RAISERROR('Error Number-%d : Error Message-%s', 16, 1, 
  @ErrorNumber, @ErrorMessage)
  --ROLLBACK TRANSACTION
END CATCH
END