USE [SellingPoint]
GO
/****** Object:  StoredProcedure [dbo].[MIG_IntegrateMotorDetails]    Script Date: 3/28/2019 11:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MIG_IntegrateMotorDetails]
(
	@MotorID int
)

AS
BEGIN

BEGIN TRY
--BEGIN TRANSACTION
  
DECLARE  @MotorInsertedRows int,
         @Message NVARCHAR(250),
		 @InsuredCode NVARCHAR(50),
		 @DocumentNo NVARCHAR(50),
		 @LinkID NVARCHAR(250),
		 @Agency NVARCHAR(50),
		 @UserID INT

SELECT @InsuredCode=INSUREDCODE,
        @DocumentNo=DOCUMENTNO,
		@LinkID=LINKID,
		@Agency = AGENCY,
		@UserID = AuthorizedBy
		FROM SellingPoint.dbo.Motor 
		WHERE MOTORID=@MotorID
  



IF NOT EXISTS(SELECT * FROM OrclBKICDB..ADMIN.FROMPOS_MOTOR WHERE DocumentNo=@DocumentNo)
BEGIN

		INSERT INTO OrclBKICDB..ADMIN.FROMPOS_MOTOR_COVERS
		            (LINKID,
					DOCUMENTNO,
					COVERCODE,
					COVERAMOUNT,
					ClauseCode,
					[TYPE],
					TYPESERIALNO,
					COVERCODEDESCRIPTION) 
					SELECT LINKID,
					       DOCUMENTNO,
						   COVERCODE,
						   COVERAMOUNT,
						   'YES',
						   [TYPE],
						   TYPESERIALNO,
						   COVERCODEDESCRIPTION 
						   FROM SellingPoint.dbo.MotorCover
						   WHERE MOTORID=@MotorID

			 INSERT INTO OrclBKICDB..ADMIN.FROMPOS_MOTOR_LOADS(LINKID,DOCUMENTNO,LOADCODE,LOADPERCENT,LOADDESCRIPTION,LOADAMOUNT,TRANSACTIONBASEPREMIUM) 
			 SELECT LINKID,DOCUMENTNO,LOADCODE,LOADPERCENT,LOADDESCRIPTION,LOADAMOUNT,TRANSACTIONBASEPREMIUM 
			 FROM SellingPoint.dbo.MotorLoads where MOTORID=@MotorID 

DECLARE @CustomerCode NVARCHAR(10)
SELECT @CustomerCode =  CustomerCode FROM SellingPoint.dbo.AGENTMASTER WHERE Agency = @Agency

DECLARE @AuthorizedBy NVARCHAR(100)
SELECT @AuthorizedBy =  UserName FROM SellingPoint.dbo.USER_MASTER WHERE id = @UserID

INSERT INTO OrclBKICDB..ADMIN.FROMPOS_MOTOR(LINKID,DOCUMENTNO,INSUREDCODE,INSUREDNAME,VEHICLETYPE,MAKE,MODEL,BODY,MAKEYEAR,TONNAGE,REGISTRATIONNO,
		                                    CHASSISNO,PURPOSEFUSE,VEHICLEVALUE,FINANCECOMPANY,FINANCECOMPANYDESCRIPTION,MAINCLASS,SUBCLASS,
		                                    COMMENCEDATE,EXPIRYDATE,EXCESSAMOUNT,EXCESSTYPE,RATE,BASEPREMIUM,CREATEBY,CREATEDT,CLAIMAMOUNT,PREVIOUSDOCUMENTNO,
											RENEWED,RENEWALCOUNT,LASTYEARSUMINSURED,LASTYEARPREMIUMAMOUNT,LASTYEAREXPIRYDATE,REMARKS,FFPNUMBER,CPR,PAYMENTDATE,
											PAYMENT_METHOD,ACCOUNTNO,MOBILENUMBER,[SOURCE],DiscountPercent,DISCOUNTAMOUNT, COMMISSIONAMOUNT, 
											AGENCYCODE, CUSTOMERCODE, AGENTCODE, AGENCYBRANCH, INTRODUCEDBY, TAXPERCENT, TAXAMOUNT, GROSSPREMIUM,
											CHARGEAMOUNT,NETPREMIUM)

		SELECT LINKID,DOCUMENTNO, INSUREDCODE,INSUREDNAME,VEHICLETYPE,MAKE,MODEL,BODY,[YEAR],TONNAGE,REGISTRATIONNO,
		CHASSISNO,PURPOSEFUSE,VEHICLEVALUE,FINANCECOMPANY,FINANCECOMPANYDESCRIPTION,MAINCLASS,SUBCLASS,
		COMMENCEDATE,EXPIRYDATE,EXCESSAMOUNT,EXCESSTYPE,RATE,BASEPREMIUM,@AuthorizedBy,CREATEDDATE,CLAIMAMOUNT,OldDocumentNumber,
		RENEWED, RENEWALCOUNT,LASTYEARSUMINSURED,LASTYEARPREMIUMAMOUNT,LASTYEAREXPIRYDATE,REMARK,FFPNUMBER,CPR,PAYMENTDATE,
		PAYMENT_TYPE,'',MOBILENUMBER,[SOURCE],0,DISCOUNTAMOUNT,
		COMMISSIONAFTERDISCOUNT,AGENCY, @CustomerCode, AGENTCODE, BRANCHCODE, @AuthorizedBy, 
		TAXPREMIUMPERCENT, TAXONPREMIUM, PREMIUMBEFOREDISCOUNT,0, (PREMIUMAFTERDISCOUNT + TAXONPREMIUM)
		FROM SellingPoint.dbo.Motor
		WHERE LINKID = @LinkID 
		AND DOCUMENTNO = @DocumentNo AND MOTORID=@MotorID		

DECLARE @ValueType NVARCHAR(50) ='P'

INSERT INTO OrclBKICDB..ADMIN.FROMPOS_CATEGORY(LINKID, DOCUMENTNO, DOCUMENTTYPE,ENDORSEMENTNO, ENDORSEMENTCOUNT, AGENTCODE, [LINENO],
                                                CATEGORY, CODE, VALUETYPE, VALUE, PREMIUM, CALCULATEDVALUE, PARENTLINKID, AGENCY, UPDATEDVALUE)

         SELECT LINKID, DOCUMENTNO,DOCUMENTTYPE, ENDORSEMENTNO, 0, AGENTCODE, [LINENO],
		 Category,CODE, @ValueType, VALUE, PremiumAfterDiscount, 
		 CommissionBeforeDiscount, PARENTLINKID,@Agency,CommissionAfterDiscount
		 FROM  SellingPoint.dbo.PolicyCategory WHERE DOCUMENTNO = @DocumentNo AND LINKID = @LinkID


UPDATE SellingPoint.dbo.Motor
  SET IsMovedToTemp = 1
  WHERE MOTORID = @MotorID

DECLARE @FundType NVARCHAR(10) = ''
	 
	
	if(@Agency = 'TISCO')
		BEGIN
			SELECT @FundType = 'AGT'
		END
	Else If(@Agency = 'BBK')
		BEGIN
			SELECT @FundType = 'BBK'
		END
		
    BEGIN
	EXECUTE('Call Import_from_POS.Insert_Motor_Policy(?,?,?,?,?,?)','00001','00001',@FundType,@InsuredCode,@DocumentNo,@LinkID)
	AT  OrclBKICDB
	END	
	
	UPDATE SellingPoint.dbo.Motor
    SET IsMovedToOracle = 1
    WHERE MOTORID = @MotorID
END
 


--COMMIT TRANSACTION

END TRY
BEGIN CATCH
  UPDATE SellingPoint.dbo.Motor
  SET IsException = 1
  WHERE MOTORID = @MotorID
  DECLARE @ErrorNumber INT = ERROR_NUMBER();
  DECLARE @ErrorMessage NVARCHAR(1000) = ERROR_MESSAGE() 
  RAISERROR('Error Number-%d : Error Message-%s', 16, 1, 
  @ErrorNumber, @ErrorMessage)
--ROLLBACK TRANSACTION
END CATCH
END

