USE [SellingPoint]
GO
/****** Object:  StoredProcedure [dbo].[MIG_IntegrateTravelDetailsByTravelId]    Script Date: 3/28/2019 12:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[MIG_IntegrateTravelDetailsByTravelId]
(
	@TRAVELID int
)
AS
BEGIN

BEGIN TRY

DECLARE @LinkId NVARCHAR(250),
        @DocumentNo NVARCHAR(50), 
		@CPR NVARCHAR(50), 
		@InsuredCode NVARCHAR(50),
		@Message NVARCHAR(max), 
		@TRAVELUPDATEDROWS INT,
		@TRAVELMEMBERSUPDATEDROWS INT,
		@Agency NVARCHAR(100),
		@UserID INT

SET @TRAVELUPDATEDROWS = 0;
SET @TRAVELMEMBERSUPDATEDROWS = 0;

SELECT @LinkId = LINKID, 
       @CPR = CPR, 
	   @InsuredCode = INSUREDCODE, 
	   @DocumentNo= DOCUMENTNO ,
	   @Agency = AGENCY,
	   @UserID = AuthorizedBy
	   FROM SellingPoint.dbo.Travel
	   WHERE TRAVELID = @TRAVELID

SELECT @LinkId,@CPR,@DocumentNo




-- insert to oracle if not present

IF NOT EXISTS(SELECT * FROM OrclBKICDB..ADMIN.FROMPOS_TRAVEL WHERE DocumentNo=@DocumentNo and LinkID = @LinkId)
BEGIN


	DECLARE @CustomerCode NVARCHAR(10)
	SELECT @CustomerCode =  CustomerCode FROM SellingPoint.dbo.AGENTMASTER WHERE Agency = @Agency

	DECLARE @AuthorizedBy NVARCHAR(100)
	SELECT @AuthorizedBy =  UserName FROM SellingPoint.dbo.USER_MASTER WHERE id = @UserID

	DECLARE @CoverageType NVARCHAR(30)
	SELECT @CoverageType = CoverageType FROM SellingPoint.dbo.Travel 
	WITH(NOLOCK)WHERE LINKID = @LinkId AND DOCUMENTNO = @DocumentNo AND TRAVELID = @TRAVELID 

	IF(@CoverageType = 'EXCLUDING USA&CANADA')
	BEGIN
	 SET @CoverageType = 'WORLDWIDE1'
	END
	if(@CoverageType = 'SCHENGEN')
	BEGIN
	 SET @CoverageType = 'EUROPE'
	END

	INSERT	INTO OrclBKICDB..ADMIN.FROMPOS_TRAVEL(LINKID,DOCUMENTNO,INSUREDCODE,INSUREDNAME,SUMINSURED,PREMIUMAMOUNT,COMMENCEDATE,EXPIRYDATE,CREATEBY,MAINCLASS,SUBCLASS,
	DOCUMENTDATE,IDENTITYNO,PASSPORT,RENEWAL,PREVIOUSDOCUMENTNO,OCCUPATION,RENEWED,PERIODOFCOVER,FFPNUMBER,RENEWALCOUNT,LASTYEARSUMINSURED,
	LASTYEARPREMIUMAMOUNT,LASTYEAREXPIRYDATE,LOADAMOUNT,REMARKS,TRANSACTION_NO,PAYMENTDATE,PAYMENT_TYPE,PAYMENT_AUTHORIZATION_CODE,MOBILENUMBER,SOURCE, DISCOUNTPERCENT,
	DISCOUNTAMOUNT, COMMISSIONAMOUNT, COMMISSIONBEFOREDISCOUNT, PREMIUMBEFOREDISCOUNT, AGENCYCODE, CUSTOMERCODE, AGENTCODE, AGENCYBRANCH, INTRODUCEDBY, JOURNEY)

	SELECT	LINKID,DOCUMENTNO,INSUREDCODE,INSUREDNAME,SUMINSURED, PREMIUMAFTERDISCOUNT,COMMENCEDATE,EXPIRYDATE,@AuthorizedBy,MAINCLASS,SUBCLASS,
	 CREATEDDATE,'',PASSPORT,RENEWAL,PREVIOUSDOCUMENTNO,OCCUPATION,RENEWED,PERIODOFCOVER, FFPNUMBER,RENEWALCOUNT, LASTYEARSUMINSURED,
	 LASTYEARPREMIUMAMOUNT,LASTYEAREXPIRYDATE,LOADAMOUNT,REMARK, TRANSACTION_NO,PAYMENTDATE,PAYMENT_TYPE,PAYMENT_AUTHORIZATION_CODE,
	 MOBILENUMBER,Source, 0, DISCOUNTAMOUNT, CommissionAfterDiscount, CommissionBeforeDiscount, PREMIUMBEFOREDISCOUNT, AGENCY, @CustomerCode,
	 AGENTCODE,BRANCHCODE, @AuthorizedBy,@CoverageType 
	 FROM SellingPoint.dbo.Travel  
	 WITH(NOLOCK)
	 WHERE LINKID = @LinkId AND DOCUMENTNO = @DocumentNo AND TRAVELID = @TRAVELID

-- * Travel Memebers Migration * -----
	IF EXISTS (SELECT * FROM SellingPoint.dbo.TravelMembers WHERE TRAVELID = @TRAVELID)
	BEGIN
		-- insert travel members to oracle

			INSERT	INTO OrclBKICDB..ADMIN.FROMPOS_TRAVEL_MEMBERS(LINKID,DOCUMENTNO,ITEMSERIALNO,ITEMNAME,SUMINSURED,FOREIGNSUMINSURED,CATEGORY,TITLE,SEX,DATEOFBIRTH,AGE,
				PREMIUMAMOUNT,MAKE,OCCUPATIONCODE,IDENTITYNO,PASSPORT,FIRSTNAME,MIDDLENAME,LASTNAME)

				SELECT source.LINKID, source.DOCUMENTNO, source.ITEMSERIALNO, source.ITEMNAME, source.SUMINSURED, source.FOREIGNSUMINSURED, source.CATEGORY,source.TITLE,
				LEFT(source.SEX, 1),source.DATEOFBIRTH, source.AGE, source.PREMIUMAMOUNT, source.MAKE, source.OCCUPATIONCODE, source.CPR, source.PASSPORT, source.FIRSTNAME,
				source.MIDDLENAME, source.LASTNAME
				FROM SellingPoint.dbo.TravelMembers AS source WITH(NOLOCK) 
				WHERE LINKID = @LinkId AND DOCUMENTNO = @DocumentNo AND TRAVELID =@TRAVELID


		DECLARE @ValueType NVARCHAR(50) ='P'

		INSERT INTO OrclBKICDB..ADMIN.FROMPOS_CATEGORY(LINKID, DOCUMENTNO, DOCUMENTTYPE,ENDORSEMENTNO, ENDORSEMENTCOUNT, AGENTCODE, [LINENO],
														CATEGORY, CODE, VALUETYPE, VALUE, PREMIUM, CALCULATEDVALUE, PARENTLINKID, AGENCY, UPDATEDVALUE)

				 SELECT LINKID, DOCUMENTNO,DOCUMENTTYPE, ENDORSEMENTNO, 0, AGENTCODE,0,
				 Category,CODE, @ValueType, VALUE, PremiumAfterDiscount, CommissionBeforeDiscount, PARENTLINKID, '', CommissionAfterDiscount
				 FROM  SellingPoint.dbo.PolicyCategory 
				 WHERE DOCUMENTNO = @DocumentNo


       UPDATE SellingPoint.dbo.Travel
       SET IsMovedToTemp = 1
       WHERE TRAVELID = @TRAVELID



		DECLARE @FundType NVARCHAR(10) = ''
	 
	
			IF(@Agency = 'TISCO')
			  BEGIN
					SELECT @FundType = 'AGT'
			  END
			ELSE IF(@Agency = 'BBK')
			  BEGIN
					SELECT @FundType = 'BBK'
			  END

			EXECUTE('Call Import_from_POS.Insert_Travel_Policy(?,?,?,?,?,?)','00001','00001',@FundType,@InsuredCode,@DocumentNo,@LinkID)
			 AT ORCLBKICDB

       UPDATE SellingPoint.dbo.Travel
       SET IsMovedToOracle = 1
       WHERE TRAVELID = @TRAVELID

	END
END
END TRY
BEGIN CATCH

  UPDATE SellingPoint.dbo.Travel
  SET IsException = 1
  WHERE TRAVELID = @TRAVELID

  DECLARE @ErrorNumber INT = ERROR_NUMBER();
  DECLARE @ErrorMessage NVARCHAR(1000) = ERROR_MESSAGE() 
  RAISERROR('Error Number-%d : Error Message-%s', 16, 1, 
  @ErrorNumber, @ErrorMessage)
--ROLLBACK TRANSACTION
END CATCH
END