<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add connectionString="data source=DESKTOP-MD708DL\SQLEXPRESS;Initial Catalog=ALAYAM;Integrated Security=True" name="SQLConnectionString" />
  </connectionStrings>
  <appSettings>
   <add key="PushnotificationAPIKey" value="3fee3ab4-0688-4056-9eaf-3b53fbbc5913"/>
    <add key="PushnotificationOnesignalAppKey" value="8c92d7ce-e670-4373-b96c-91a3e22a404b"/>
    <add key="PushnotificationUserkey" value="NDhkYjEwNTYtNjJjZi00ODU1LTliNTgtOGExODliZTVmM2U2" />
    <add key="ProfilePicturePath" value="D:\Media\uploads\aymNews\uploads\upload\profilepic\" />
    <add key="APIURL" value="http://dev1.alayam.com/" />
    <add key="OAuthExpiresInDays" value="1" />
    <!-- <add key="DBConnection" value="data source=DESKTOP-MD708DL\SQLEXPRESS;Initial Catalog=ALAYAM;Integrated Security=True" />
  <add key="DBConnection1" value="data source=DESKTOP-MD708DL\SQLEXPRESS;Initial Catalog=ALAYAMAPPV2;Integrated Security=True" />
   -->
    <add key="DBConnection1" value="Data Source=67.227.172.19;Initial Catalog=ALAYAMAPPV2;Persist Security Info=True;User ID=APICMTUSERREADWRITE;Password=EAY123@34!24;Connection Timeout=99999" />
    <add key="DBConnection" value="Data Source=67.227.172.19;Initial Catalog=ALAYAMNEWSSITE;Persist Security Info=True;User ID=NWSUSERREAD;Password=59dcgv2015;Connection Timeout=99999" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
	<customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <add name="SwashbuckleUiHandler" verb="*" path="swagger/ui/*" type="Swashbuckle.Application.SwaggerUiHandler, Swashbuckle.Core" preCondition="managedHandler" />
      <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 3EC0F12A-502F-4EDE-8B13-CF0DA134357A-->